*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(234, 245, 246);
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vistaMedia{
    display: flex;
    flex-direction: column;

    background-color: rgb(200, 215, 244);
}

.card1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.grid1{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "colum1 colum2 colum3"
    ;
}
.colum1{
    grid-area: colum1;
    width: 25%;
}

.colum2{
    grid-area: colum2;
    width: 50%;
}

.colum3{
    grid-area: colum3;
    width: 25%;
}

#Usuario{
    background-color: blueviolet;
    height: 10%;
}