<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/main.css">
  <link href="../CSS/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="../CSS/index.css">
  <title>Pagina principal</title>
</head>

<body>
  <!-- cabecera principal para los links y el titulo-->
  <header>
    <nav class="navbar bg-info">
      <a class="navbar-brand" href="../views/main.html">
        <img src="../Multimedia/compass-fill.svg" alt="" width="20" height="24" class="d-inline-block align-text-top">
        La Brujula
      </a>
      <ul class="nav justify-content-center bg-info mb">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/main.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/HTML.html">HTML</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/CSS.html">CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/javascript.html">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/POO.html">POO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/log-in.html">Cerrar Sesion</a>
        </li>
      </ul>
    </nav>

  </header>
  <br>

  <div class="container">

    <!--Columnas 1ra fila-->
    <div class="row align-items-start grid1">

      <!--Columna izquierda-->
      <div class="col-3 align-self-start">

        <div class="card">
          <img class="card-img-top" src="../Multimedia/femprogramadoras.png" alt="...">
          <div class="card-body">
            <h5 class="card-title">MET Mujeres en Tecnología</h5>
            <p class="card-text">Somos una organización que fomenta la participación de mujeres y otras identidades de
              género en las diversas áreas de tecnología y potencia su desarrollo a través de la creación de comunidad y
              visibilización de su trabajo, buscando la transformación del ecosistema tecnológico.</p>
            <p>@ComunidadMeT</p>
            <a href="https://mujeresentecnologia.org/" class="btn btn-primary">Nuestra página web</a>
            <p>

            </p>
            <a href="https://linktr.ee/comunidadmet" class="btn btn-secondary">Nuestro linktree con toda la info</a>

          </div>
        </div>
        <br>
        <!-- Bloque de publicidad -->
        <div class="card">
          <img src="/Multimedia/gamer-decorative-illustration-flat-design_23-2148250394-e1574340136197.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">No te quedes afuera, enterate de noticias o las nuevas actualizaciones en base a la
              programacion! Solo haciendo click</p>
            <a class="btn btn-primary" href="https://programacion.net/articulos">Clickea Aqui</a>
          </div>
        </div>

      </div>

      <!--Columna central
        Decripcion: Informacion introductoria sobre la pagina
        Autor: Rocio Olszevicki
        Fecha: 20/6/22-->
      <div class="col align-self-start">


        <img src="../Multimedia/progrmador.webp" alt="" width="100%"><br> <br>

        <div class="texto">
          <h2>¿QUÉ ES LA PROGRAMACIÓN?</h2>
          <p>La <em>programación</em> es el proceso de crear un conjunto de instrucciones que le dicen a una computadora
            como
            realizar algún tipo de tarea. Pero no solo la acción de escribir un código para que la computadora o el
            software lo ejecute. Incluye, además, todas las tareas necesarias para que el código funcione correctamente
            y cumpla el objetivo para el cual se escribió.
          </p>
          <p>En la actualidad, la noción de programación se encuentra muy asociada a la creación de aplicaciones de
            informática y videojuegos. En este sentido, es el proceso por el cual una persona desarrolla un programa,
            valiéndose de una herramienta que le permita escribir el código (el cual puede estar en uno o varios
            lenguajes, como C++, Java y Python, entre muchos otros) y de otra que sea capaz de “traducirlo” a lo que se
            conoce como lenguaje de máquina, que puede "comprender" el microprocesador.</p>
          <p>La programación se rige por reglas y un conjunto más o menos reducido de órdenes, expresiones,
            instrucciones y comandos que tienden a asemejarse a una lengua natural acotada (en inglés); y que además
            tienen la particularidad de una reducida ambigüedad.

            En los lenguajes de programación se distinguen diversos elementos entre los que se incluyen el léxico propio
            del lenguaje y las reglas semánticas y sintácticas. Dentro del léxico, generalmente se utilizan símbolos y
            palabras con funciones específicas dentro del lenguaje. Estas palabras suelen tomarse del inglés y no se las
            puede utilizar de manera diferente: son las denominadas palabras reservadas. Otra particularidad de los
            lenguajes es el permitir a los programadores el uso de comentarios: frases o párrafos sin funcionalidad en
            el programa, que los compiladores o intérpretes descartan y solo están destinados a ser leídos por personas;
            así se pueden dejar explicaciones que ayuden a entender el código a quien lo lea.</p>
        </div>

      </div>

      <!--Columna derecha-->
      <div class="col-3 align-self-start">


        <!-- contenido publicidad -->
        <div class="card">
          <img class="card-img-top" src="../Multimedia/viajesprogramacion.png" alt="...">
          <div class="card-body">
            <h5 class="card-title">Linkedin </h5>
            <p class="card-text">Unete a Linkedin, sube tu CV y encontraras muchas ofertas de trabajo referido a la
              programación.</p>
            <p>Gana dinero trabajando remoto y en cualquier parte del mundo.</p>
            <a href="https://ar.linkedin.com/" class="btn btn-primary">Clickea aqui!</a>
          </div>
        </div>
      </div>

    </div>

    <!--Columna 2da fila-->


    <!--Columna 3ra fila-->


  </div>


  <div>
    <p></p>
  </div>



  <!-- contenido publicidad e introduccion en grid-->
  <div class="container">


    <div class="row ">
      <div class="col-md-3">
        <div class="card bg-dark text-white">
          <img src="../Multimedia/JavaScript-logo.png" class="card-img" alt="..." width="50%">
          <div class="card-img-overlay">
            <h5 class="card-title">Javascript</h5>
            <p class="card-text" style="color: #000000;">JavaScript es un lenguaje de programación o de secuencias de
              comandos que te permite implementar funciones
              complejas en páginas web...</p>
            <a href="../views/javascript.html" class="stretched-link">Continuar Leyendo</a>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-dark text-white">
          <img src="../Multimedia/html.png" class="card-img" alt="..." width="50%">
          <div class="card-img-overlay">
            <h5 class="card-title">
              
            </h5>
            <p>

            </p>
            <p class="card-text" style="color: #000000;">El Lenguaje de Marcado de Hipertexto (HTML) es el código que se
              utiliza para estructurar...</p>
            <a href="../views/HTML.html" class="stretched-link">Continuar Leyendo</a>
            <p class="card-text" style="color: #000000;">Last updated 13 hours ago</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-dark text-white">
          <img src="../Multimedia/css logo.png" class="card-img" alt="..." width="50%">
          <div class="card-img-overlay">
            <h5 class="card-title">CSS</h5>
            <p class="card-text" style="color: #000000;">CSS está diseñado para marcar la separación del contenido del
              documento y la forma de
              presentación de este, características tales como ....</p>
            <a href="../views/CSS.html" class="stretched-link">Continuar Leyendo</a>
            <p class="card-text">Last updated 1 year ago</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-dark text-white">
          <img src="../Multimedia/poo_1.png" class="card-img" alt="..." width="50%">
          <div class="card-img-overlay">
            <h5 class="card-title">Programación Orientada a Objetos</h5>
            <p class="card-text" style="color: #000000;"> La POO es una forma de programar que trata de encontrar una solución a estos problemas.
              Introduce ... 
              </p>
            <a href="../views/POO.html" class="stretched-link">Continuar Leyendo</a>
            <p class="card-text">Last updated 4 mounths ago</p>
          </div>
        </div>
      </div>
    </div>
    
    <div>
      <p>Han escrito <strong id="NoComentarios"></strong> comentarios</p>
      
      
    </div>
    <div id="Comentarios">

    </div>
    <div id="Usuarios">

    </div>
    
    <form action="" method="post">
        <h2>Deja tu comentario</h2>
        
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
          <textarea class="form-control usuario1" id="usuario" placeholder="ingrese su usuario" rows="1" ></textarea>
        </div> 
        
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Deja un comentario</label>
          <textarea class="form-control comentario1" id="txtComentario" placeholder="ingrese su comentario" rows="3"></textarea>
          <div class="col-12">
            <button class="btn btn-info" type="button" id="btnEnviar">Enviar</button>
          </div>
        </div>
          <p id="Error"></p>
          
        
    </form>
  </div>
  
  
  

  <!--Cards
        Decripcion: Redireccion a páginas
        Autor: Fernanda Illarra
        Fecha: 20/6/22-->
       


  <script src="../JS/bootstrap.bundle.min.js"></script>
  <script src="../JS/main.js"></script>
  
</body>

</html>